/*Main colors*/
$main: #000000;
$accent: #f51b1b;
$white: #ffffff;

/*Fonts*/
@font-face {
  font-family: "Philosopher";
  src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Medium.otf);
  font-weight: 500;
}

/*Mixins*/
@mixin container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}
/*Reset*/
@import "reset";

body {
  background-color: $main;
}

.header {
  @include container;
  display: flex;
  justify-content: flex-end;
  &__logo {
    padding-top: 26px;
    max-width: 239.91px;
    width: 100%;
  }
}
.main-container {
  @include container;
  display: flex;
  flex-flow: row nowrap;
  gap: 31px;
  padding-bottom: 32px;
}
.aside {
  display: flex;
  flex-direction: column;
  max-width: 322px;
  width: 100%;
  &__card {
    background-color: $accent;
    padding: 40px 24px;
    color: $white;
  }
  &__title {
    padding-bottom: 40px;
  }
  &__header {
    padding-bottom: 8px;
    font-family: "Philosopher", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  &__paragragh {
    font-family: "TT Commons", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  &__foto {
    max-width: 100%;
  }
  &__nav {
    & li {
      display: flex;
      gap: 15px;
      padding-bottom: 20px;
    }
    & li a {
      text-decoration: none;
      font-family: "TT Commons", Sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $white;
    }
  }
}
.main {
  color: $white;
  width: 100%;

  &__hello {
    max-width: 690px;
    padding-bottom: 32px;
    font-family: "TT Commons", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
  &__resume-container {
    border: 1px solid $white;
    width: 100%;
  }
  &__resume {
    padding: 48px 50px 129px 28px;
  }
  &__item {
    display: flex;
    flex-flow: row wrap;
    gap: 72px;
  }
  &__title {
    flex-basis: 124px;
    font-family: "Philosopher", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
}
