/*Main colors*/
$main: #000000;
$accent: #f51b1b;
$white: #ffffff;

/*Fonts*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Medium.otf);
  font-weight: 500;
}

/*Mixins*/
@mixin container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
}
@mixin mobile-container {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  padding: 0 20px;
}
/*Reset*/
@import "reset";

body {
  background-color: $main;
}

.header {
  @include container;
  display: flex;
  justify-content: flex-end;
  &__logo {
    padding-top: 26px;
    max-width: 239.91px;
    width: 100%;
  }
  @media (max-width: 360px) {
    @include mobile-container;
    justify-content: flex-start;
  }
}
.main-container {
  @include container;
  display: flex;
  flex-flow: row nowrap;
  gap: 31px;
  //padding-bottom: 32px;
  @media (max-width: 360px) {
    @include mobile-container;
    flex-wrap: wrap;
  }
}
.aside {
  display: flex;
  flex-direction: column;
  max-width: 322px;
  width: 100%;
  position: relative;
  @media (max-width: 360px) {
    @include mobile-container;
  }

  &__glasses {
    width: 148px;
    position: absolute;
    top: 98px;
    left: 124px;
    @media (max-width: 360px) {
      width: 147px;
      top: 86px;
    }
  }
  &__foto {
    max-width: 322px;
    width: 100%;
  }
  &__arrow {
    max-width: 322px;
    width: 100%;
    position: relative;
    top: -48px;
  }
  &__card {
    border-radius: 24px 24px 0 0;
    background-color: $accent;
    padding: 40px 24px 195px 24px;
    color: $white;
    position: relative;
    top: -48px;
    @media (max-width: 360px) {
      padding: 24px 16px 40px 16px;
    }
  }
  &__title {
    padding-bottom: 40px;
  }
  &__header {
    padding-bottom: 8px;
    font-family: "Roboto", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  &__paragraph {
    font-family: "TT Commons", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  &__nav {
    li {
      display: flex;
      gap: 15px;
      padding-bottom: 20px;
    }
    li a {
      text-decoration: none;
      font-family: "TT Commons", Sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: $white;
    }
  }
}
.main {
  color: $white;
  width: 100%;
  max-width: 1008px;
  @media (max-width: 360px) {
    @include mobile-container;
  }

  &__hello {
    max-width: 690px;
    width: 100%;
    padding-bottom: 32px;
    font-family: "TT Commons", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    @media (max-width: 360px) {
      max-width: 320px;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 24px;
    }
  }
  &__resume-container {
    border: 1px solid $white;
    max-width: 1008px;
    width: 100%;
    position: relative;
    @media (max-width: 360px) {
      max-width: 320px;
    }
  }
  &__arrow {
    max-width: 1008px;
    width: 100%;
    position: relative;
    top: -1px;
  }
  &__resume {
    padding: 28px 50px 109px 28px;
    @media (max-width: 360px) {
      padding: 21px 15px 30px 15px;
    }
  }
  &__item {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 72px;
    @media (max-width: 360px) {
      flex-wrap: wrap;
      padding-top: 12px;
      padding-bottom: 12px;
      gap: 16px;
    }
  }

  &__title {
    flex-basis: 124px;
    font-family: "Roboto", Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
  &__article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 360px) {
      gap: 12px;
    }
    h3 {
      font-family: "TT Commons", Sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.01em;
      @media (max-width: 360px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    p {
      font-family: "TT Commons", Sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.01em;
      opacity: 0.4;
    }
    &_skills {
      display: flex;
      flex-direction: row;
      gap: 32px;
      @media (max-width: 360px) {
        gap: 16px;
      }
    }
  }
}
