/*Main colors*/
/*Fonts*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/tt-commons-cufonfonts/TT\ Commons\ Medium.otf);
  font-weight: 500;
}
/*Mixins*/
/*Reset*/
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  background-color: #000000;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
}
.header__logo {
  padding-top: 26px;
  max-width: 239.91px;
  width: 100%;
}
@media (max-width: 360px) {
  .header {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    padding: 0 20px;
    justify-content: flex-start;
  }
  .header__logo {
    padding-top: 20px;
    padding-bottom: 48px;
  }
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 31px;
}
@media (max-width: 360px) {
  .main-container {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  max-width: 322px;
  width: 100%;
  position: relative;
}
@media (max-width: 360px) {
  .aside {
    max-width: 320px;
  }
}
.aside__glasses {
  width: 148px;
  position: absolute;
  top: 98px;
  left: 124px;
}
@media (max-width: 1439px) and (min-width: 361px) {
  .aside__glasses {
    display: none;
  }
}
@media (max-width: 360px) {
  .aside__glasses {
    width: 147px;
    top: 90px;
  }
}
.aside__foto {
  max-width: 322px;
  width: 100%;
}
.aside__arrow {
  max-width: 322px;
  width: 100%;
  position: relative;
  top: -48px;
}
.aside__card {
  border-radius: 24px 24px 0 0;
  background-color: #f51b1b;
  padding: 40px 24px 195px 24px;
  color: #ffffff;
  position: relative;
  top: -48px;
}
@media (max-width: 360px) {
  .aside__card {
    padding: 24px 16px 40px 16px;
  }
}
.aside__title {
  padding-bottom: 40px;
}
.aside__header {
  padding-bottom: 8px;
  font-family: "Roboto", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
.aside__paragraph {
  font-family: "TT Commons", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.aside__nav li {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}
.aside__nav li a {
  text-decoration: none;
  font-family: "TT Commons", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.main {
  color: #ffffff;
  width: 100%;
  max-width: 1008px;
}
@media (max-width: 360px) {
  .main {
    max-width: 320px;
  }
}
.main__hello {
  max-width: 690px;
  width: 100%;
  padding-bottom: 32px;
  font-family: "TT Commons", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 360px) {
  .main__hello {
    max-width: 320px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 24px;
  }
}
.main__resume-container {
  border: 1px solid #ffffff;
  max-width: 1008px;
  width: 100%;
  position: relative;
}
@media (max-width: 360px) {
  .main__resume-container {
    max-width: 320px;
  }
}
.main__arrow {
  max-width: 1008px;
  width: 100%;
  position: relative;
  top: -1px;
}
@media (max-width: 360px) {
  .main__arrow {
    max-width: 320px;
  }
}
.main__resume {
  padding: 28px 50px 109px 28px;
}
@media (max-width: 360px) {
  .main__resume {
    padding: 9px 15px 30px 15px;
  }
}
.main__item {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}
@media (max-width: 360px) {
  .main__item {
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.main__title {
  flex-basis: 180px;
  font-family: "Roboto", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.main__article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 360px) {
  .main__article {
    gap: 12px;
  }
}
.main__article h3 {
  font-family: "TT Commons", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
@media (max-width: 360px) {
  .main__article h3 {
    font-size: 16px;
    line-height: 20px;
  }
}
.main__article p {
  font-family: "TT Commons", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  opacity: 0.4;
}
.main__article_skills {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media (max-width: 360px) {
  .main__article_skills {
    gap: 16px;
  }
}
